.total-container {
    position: relative;
}

.box{
    width: 100%;
    height: 100%;            
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;  /* for demo purpose  */
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-select{
    user-select: none;
}

.stack-label{
    position: relative;
    z-index: 9;
}

.stack-clickable{
    z-index: 12;
}

.stack-shrunk {
    z-index: 14;
}

.stack-zoomed {
    z-index: 20;
}

.stack-button {
    z-index: 25;
}

.click {
    opacity: 100%;
}

.floor {
    visibility: hidden;
}

.button{
    visibility: hidden;
}

.hidden{
    visibility: hidden;
}

.arts-sciences{
    position: absolute;
    top: 40%;
    left: 44%;
}

.welcome-center{
    position: absolute;
    top: 40%;
    left: 51%;
}

.harold-white{
    position: absolute;
    top: 40%;
    left: 34.5%;
}

.benilde-hall{
    position: absolute;
    top: 72%;
    left: 48%;
}

.james-gaffney{
    position: absolute;
    top: 72%;
    left: 39%;
}

.learning-center{
    position: absolute;
    top: 47%;
    left: 47.5%;
}

.cody-hall{
    position: absolute;
    top: 81%;
    left: 56%;
}

.delasalle-hall{
    position: absolute;
    top: 72%;
    left: 43.5%;
}

.dorothy-day{
    position: absolute;
    top: 85%;
    left: 36%;
}

.founders-hall{
    position: absolute;
    top: 55%;
    left: 48%;
}

.memorial-hall{
    position: absolute;
    top: 42.5%;
    left: 41%;
}

.mcnamara-hall{
    position: absolute;
    top: 34.5%;
    left: 46.5%;
}

.mother-teresa{
    position: absolute;
    top: 81%;
    left: 38%;
}

.north-hall{
    position: absolute;
    top: 58%;
    left: 47%;
}

.fine-arts{
    position: absolute;
    top: 37%;
    left: 39%;
}

.john-paul{
    position: absolute;
    top: 81%;
    left: 41.5%;
}

.power-house{
    position: absolute;
    top: 73.5%;
    left: 33%;
}

.ryan-hall{
    position: absolute;
    top: 80.5%;
    left: 48%;
}

.sancta-alberta{
    position: absolute;
    top: 48%;
    left: 45%;
}

.sheil-hall{
    position: absolute;
    top: 54%;
    left: 41%;
}

.south-hall{
    position: absolute;
    top: 72%;
    left: 36%;
}

.sports-center{
    position: absolute;
    top: 53.5%;
    left: 38%;
}

.stritch-hall{
    position: absolute;
    top: 35%;
    left: 48%;
}

.west-hall{
    position: absolute;
    top: 69.5%;
    left: 32.5%;
}

.stcharles-borromeo{
    position: absolute;
    top: 9.5%;
    left: 53.5%;
}

.fitzpatrick-house{
    position: absolute;
    top: 90%;
    left: 62%;
}

.lot-A{
    position: absolute;
    top: 38%;
    left: 53%;
}

.lot-AA{
    position: absolute;
    top: 41%;
    left: 54%;
}

.lot-B{
    position: absolute;
    top: 34%;
    left: 49%;
}

.lot-BB{
    position: absolute;
    top: 30%;
    left: 50%;
}

.lot-C{
    position: absolute;
    top: 29%;
    left: 45%;
}

.lot-D{
    position: absolute;
    top: 35%;
    left: 44%;
}

.lot-E{
    position: absolute;
    top: 35%;
    left: 38%;
}

.lot-F{
    position: absolute;
    top: 45%;
    left: 35%;
}

.lot-G{
    position: absolute;
    top: 44%;
    left: 38.5%;
}

.lot-GG{
    position: absolute;
    top: 54%;
    left: 35%;
}

.lot-L{
    position: absolute;
    top: 55%;
    left: 52%;
}

.lot-M{
    position: absolute;
    top: 62%;
    left: 47%;
}

.lot-MM{
    position: absolute;
    top: 62.5%;
    left: 43%;
}

.lot-N{
    position: absolute;
    top: 64%;
    left: 35%;
}

.lot-NN{
    position: absolute;
    top: 72%;
    left: 30%;
}

.lot-O{
    position: absolute;
    top: 74.5%;
    left: 45%;
}

.lot-P{
    position: absolute;
    top: 63%;
    left: 39%;
}

.lot-Q{
    position: absolute;
    top: 72%;
    left: 46.5%;
}

.lot-S{
    position: absolute;
    top: 67.5%;
    left: 50%;
}

.lot-SB1{
    position: absolute;
    top: 12%;
    left: 57.2%;
}

.lot-SB2{
    position: absolute;
    top: 3.5%;
    left: 54%;
}

.lot-SB3{
    position: absolute;
    top: 3.5%;
    left: 50.5%;
}

.lot-SB4{
    position: absolute;
    top: 4%;
    left: 47.5%;
}

.lot-SB5{
    position: absolute;
    top: 9.5%;
    left: 48.5%;
}

.lot-T{
    position: absolute;
    top: 79%;
    left: 52%;
}

.lot-U{
    position: absolute;
    top: 78%;
    left: 39.5%;
}

.lot-V{
    position: absolute;
    top: 72.5%;
    left: 34.5%;
}

.lot-W{
    position: absolute;
    top: 64.5%;
    left: 55.5%;
}

.lot-X{
    position: absolute;
    top: 81%;
    left: 44%;
}

.lot-Y{
    position: absolute;
    top: 81%;
    left: 36%;
}

.lot-Z{
    position: absolute;
    top: 90%;
    left: 42.5%;
}

.lot-ZZ{
    position: absolute;
    top: 89.5%;
    left: 36%;
}

.Memorial-Plaza{
    position: absolute;
    top: 53%;
    left: 40%;
}

.Br-Leo-Circle{
    position: absolute;
    top: 59%;
    left: 45.5%;
}

.The-Brother{
    position: absolute;
    top: 45%;
    left: 43%;
}

.Cordano-Heritage{
    position: absolute;
    top: 48%;
    left: 43%;
}

.The-Encounter{
    position: absolute;
    top: 56%;
    left: 45.5%;
}

.Flyers-Pavilion{
    position: absolute;
    top: 86%;
    left: 33%;
}

.Founders-Garden{
    position: absolute;
    top: 46%;
    left: 44.5%;
}

.The-Glen{
    position: absolute;
    top: 44%;
    left: 53%;
}

.Memorial-Flag-Plaza{
    position: absolute;
    top: 48%;
    left: 52%;
}

.Pavilion-on-the-Green{
    position: absolute;
    top: 47%;
    left: 41%;
}

.Peace-Garden{
    position: absolute;
    top: 29%;
    left: 47%;
}

.Time-Plaza{
    position: absolute;
    top: 52%;
    left: 43%;
}

.Veteran-Memorial{
    position: absolute;
    top: 84%;
    left: 40%;
}

.Wadsworth-Family{
    position: absolute;
    top: 36%;
    left: 40.5%;
}

/*Labels for AS building */
.Room-102A{
    position: absolute;
    top: 49%;
    left: 41%;
}

.Room-104A{
    position: absolute;
    top: 49%;
    left: 44.5%;
}

.Room-106A{
    position: absolute;
    top: 49%;
    left: 48%;
}

.Room-155A{
    position: absolute;
    top: 59%;
    left: 41%;
}

.Room-157A{
    position: absolute;
    top: 59%;
    left: 44.5%;
}

.Room-159A{
    position: absolute;
    top: 59%;
    left: 48%;
}

.Room-156A{
    position: absolute;
    top: 73%;
    left: 41.5%;
}

.Room-150A {
    position: absolute;
    top: 73%;
    left: 38%;
}

.Room-158A {
    position: absolute;
    top: 71%;
    left: 46%;
}

.Room-132A {
    position: absolute;
    top: 56%;
    left: 36%;
}

.Room-134A {
    position: absolute;
    top: 61%;
    left: 36%;
}

.Room-101S {
    position: absolute;
    top: 72%;
    left: 53%;
}

.Room-104S {
    position: absolute;
    top: 64%;
    left: 53.5%;
}

.Room-108S {
    position: absolute;
    top: 58%;
    left: 54%;
}

.Room-110S {
    position: absolute;
    top: 58%;
    left: 57%;
}

.Room-112S {
    position: absolute;
    top: 58%;
    left: 60.5%;
}

.Room-118S {
    position: absolute;
    top: 58%;
    left: 64.5%;
}

.Room-120S {
    position: absolute;
    top: 58%;
    left: 67.5%;
}

.Room-124S {
    position: absolute;
    top: 59%;
    left: 70%;
}

.Room-130S {
    position: absolute;
    top: 71%;
    left: 70%;
}

.Room-134S {
    position: absolute;
    top: 74%;
    left: 66%;
}

.Room-138S {
    position: absolute;
    top: 74%;
    left: 60.5%;
}

.Room-140S {
    position: absolute;
    top: 74%;
    left: 57%;
}

.Room-107S {
    position: absolute;
    top: 66.5%;
    left: 56.8%;
}

.Room-113S {
    position: absolute;
    top: 66.5%;
    left: 60%
}

.Room-119S {
    position: absolute;
    top: 66.5%;
    left: 64%;
}

.Room-104C {
    position: absolute;
    top: 24%;
    left: 27%;
}

.Room-103C {
    position: absolute;
    top: 24%;
    left: 32%;
}

.Dining-Area {
    position: absolute;
    top: 33%;
    left: 28%;
}

.Room-104L {
    position: absolute;
    top: 17%;
    left: 40.5%;
}

.Room-108L {
    position: absolute;
    top: 17%;
    left: 45.5%;
}

.Room-114L {
    position: absolute;
    top: 17%;
    left: 49.5%;
}

.Room-118L {
    position: absolute;
    top: 17%;
    left: 54%;
}

.Room-101A {
    position: absolute;
    top: 36%;
    left: 42%;
}

.Room-128A {
    position: absolute;
    top: 37.5%;
    left: 39.8%;
    font-size: 10px;
}

.Room-126A {
    position: absolute;
    top: 34%;
    left: 39.8%;
    font-size: 10px;
}

.Room-124A {
    position: absolute;
    top: 30.5%;
    left: 39.8%;
}

.Room-122A {
    position: absolute;
    top: 30.5%;
    left: 42%;
    font-size: 10px;
}

.Room-120A {
    position: absolute;
    top: 30.5%;
    left: 43.4%;
    font-size: 10px;
}

.Room-118A {
    position: absolute;
    top: 30.5%;
    left: 44.7%;
    font-size: 10px;
}

.Room-116A {
    position: absolute;
    top: 30.5%;
    left: 46.1%;
    font-size: 10px;
}

.Room-114A {
    position: absolute;
    top: 30.5%;
    left: 47.5%;
    font-size: 10px;
}

.Room-112A {
    position: absolute;
    top: 31%;
    left: 48.8%;
    font-size: 10px;
}

.Room-117A {
    position: absolute;
    top: 35.5%;
    left: 45%;
    font-size: 10px;
}

.Room-115A {
    position: absolute;
    top: 35.5%;
    left: 46.6%;
    font-size: 10px;
}

.Room-111A {
    position: absolute;
    top: 38%;
    left: 46.6%;
    font-size: 10px;
}

.Room-131L {
    position: absolute;
    top: 45%;
    left: 52.6%;
    font-size: 10px;
}

.Room-130L {
    position: absolute;
    top: 41.5%;
    left: 52.9%;
    font-size: 10px;
}

.Room-129L {
    position: absolute;
    top: 39%;
    left: 53.1%;
    font-size: 10px;
}

.Room-128L {
    position: absolute;
    top: 35.5%;
    left: 53.6%;
    font-size: 10px;
}

.Room-127L {
    position: absolute;
    top: 33%;
    left: 54.1%;
    font-size: 10px;
}

.Room-126L {
    position: absolute;
    top: 30%;
    left: 54.9%;
    font-size: 10px;
}

.Room-125L {
    position: absolute;
    top: 27.8%;
    left: 55.6%;
    font-size: 10px;
}

.Room-124L {
    position: absolute;
    top: 25.1%;
    left: 56.7%;
    font-size: 10px;
}

.Room-123L {
    position: absolute;
    top: 23%;
    left: 57.7%;
    font-size: 10px;
}

.Room-122L {
    position: absolute;
    top: 20%;
    left: 59.3%;
    font-size: 10px;
}

/*Labels for Lower Floor of AS building */

.Room-019S {
    position: absolute;
    top: 75%;
    left: 55.5%;
}

.Room-018S {
    position: absolute;
    top: 67%;
    left: 55%;
}

.Room-032S {
    position: absolute;
    top: 85%;
    left: 55.5%;
}

.Room-030S {
    position: absolute;
    top: 85.5%;
    left: 59.5%;
}

.Room-028S {
    position: absolute;
    top: 80%;
    left: 60%;
}

.Room-025S {
    position: absolute;
    top: 76%;
    left: 60%;
}

.Room-024S {
    position: absolute;
    top: 70%;
    left: 60.5%;
}

.Room-020S {
    position: absolute;
    top: 67%;
    left: 58.3%;
    font-size: 10px;
}

.Room-052S {
    position: absolute;
    top: 67%;
    left: 50%;
}

.Room-054S {
    position: absolute;
    top: 67%;
    left: 47%;
}

.Room-036S {
    position: absolute;
    top: 85%;
    left: 49%;
}

.Room-056S {
    position: absolute;
    top: 85%;
    left: 42%;
}

.Room-058S {
    position: absolute;
    top: 76%;
    left: 42%;
}

.Room-060S {
    position: absolute;
    top: 69%;
    left: 42%;
}

.Room-057S {
    position: absolute;
    top: 78%;
    left: 48%;
    font-size: 10px;
}

.Room-059S {
    position: absolute;
    top: 78%;
    left: 46.7%;
    font-size: 10px;
}

.Room-053S {
    position: absolute;
    top: 74%;
    left: 48%;
    font-size: 10px;
}

.Room-055S {
    position: absolute;
    top: 74%;
    left: 46.7%;
    font-size: 10px;
}

.Room-033L {
    position: absolute;
    top: 57.5%;
    left: 41.6%;
    font-size: 10px;
}

.Room-032L {
    position: absolute;
    top: 54%;
    left: 41.7%;
    font-size: 10px;
}

.Room-031L {
    position: absolute;
    top: 51.2%;
    left: 41.7%;
    font-size: 10px;
}

.Room-030L {
    position: absolute;
    top: 47%;
    left: 42%;
    font-size: 10px;
}

.Room-029L {
    position: absolute;
    top: 44%;
    left: 42.4%;
    font-size: 10px;
}

.Room-028L {
    position: absolute;
    top: 40.7%;
    left: 42.9%;
    font-size: 10px;
}

.Room-027L {
    position: absolute;
    top: 38%;
    left: 43.4%;
    font-size: 10px;
}

.Room-026L {
    position: absolute;
    top: 34.6%;
    left: 44.4%;
    font-size: 10px;
}

.Room-025L {
    position: absolute;
    top: 32%;
    left: 45.2%;
    font-size: 10px;
}

.Room-024L {
    position: absolute;
    top: 29.2%;
    left: 46.4%;
    font-size: 10px;
}

.Room-021L {
    position: absolute;
    top: 23%;
    left: 47.5%;
}

.Room-018L {
    position: absolute;
    top: 20%;
    left: 44%;
}

.Room-014L {
    position: absolute;
    top: 20%;
    left: 39%;
}

.Room-008L {
    position: absolute;
    top: 20%;
    left: 35%;
}

.Room-004L {
    position: absolute;
    top: 20%;
    left: 30%;
}

.Room-016L {
    position: absolute;
    top: 20%;
    left: 41.7%;
    font-size: 10px;
}

.Room-006L {
    position: absolute;
    top: 20%;
    left: 32.7%;
    font-size: 10px;
}

.Room-020L {
    position: absolute;
    top: 25.4%;
    left: 44.5%;
    font-size: 12px;
}

.Room-012L {
    position: absolute;
    top: 25.4%;
    left: 38.5%; 
    font-size: 12px;
}

.Room-010L {
    position: absolute;
    top: 25.4%;
    left: 35.5%;
    font-size: 12px;
}

.Room-002L {
    position: absolute;
    top: 25.4%;
    left: 29%;
    font-size: 13px;
}

/*Labels For 2nd Floor of AS building*/

.Room-233L {
    position: absolute;
    top: 77%;
    left: 50%;
    font-size: 13px;
}

.Room-232L {
    position: absolute;
    top: 72%;
    left: 50%;
    font-size: 13px;
}

.Room-231L {
    position: absolute;
    top: 67%;
    left:50%;
    font-size: 13px;
}

.Room-230L {
    position: absolute;
    top: 62%;
    left: 50.3%;
    font-size: 13px;
}

.Room-229L {
    position: absolute;
    top: 57%;
    left: 50.8%;
    font-size: 13px;
}

.Room-228L {
    position: absolute;
    top: 52%;
    left: 51.6%;
    font-size: 13px;
}

.Room-227L {
    position: absolute;
    top: 47%;
    left: 52.4%;
    font-size: 13px;
}

.Room-226L {
    position: absolute;
    top: 42%;
    left: 53.7%;
    font-size: 13px;
}

.Room-225L {
    position: absolute;
    top: 38%;
    left: 55%;
    font-size: 13px;
}

.Room-224L {
    position: absolute;
    top: 34%;
    left: 56.8%;
    font-size: 13px;
}

.Room-223L {
    position: absolute;
    top: 29%;
    left: 59%;
    font-size: 13px;
}

.Room-222L {
    position: absolute;
    top: 25%;
    left: 61.7%;
    font-size: 13px;
}

.Room-218L {
    position: absolute;
    top: 20%;
    left: 53.5%;
}

.Room-214L {
    position: absolute;
    top: 20%;
    left: 45.5%;
}

.Room-208L {
    position: absolute;
    top: 20%;
    left: 39.5%;
}

.Room-204L {
    position: absolute;
    top: 20%;
    left: 30.5%;

}

.Room-220L {
    position: absolute;
    top: 28%;
    left: 53.5%;
    font-size: 13px;
}

.Room-216L {
    position: absolute;
    top: 28%;
    left: 49.5%;
    font-size: 13px;
}

.Room-212L {
    position: absolute;
    top: 28%;
    left: 44%;
}

.Room-210L {
    position: absolute;
    top: 28%;
    left: 40%;
}

.Room-206L {
    position: absolute;
    top: 28%;
    left: 35.2%;
    font-size: 13px;
}

.Room-202L {
    position: absolute;
    top: 28%;
    left: 29.5%;
}

.Room-200L {
    position: absolute;
    top: 31.5%;
    left: 28%;
}